<h1>Listing Grids</h1>


<table>
  <% @grids.each do |grid| %>
    <tr>
      <td><%= link_to 'Grid', grid_path(grid) %></td>
      <td><%= grid.size %> X <%= grid.size %></td>
    </tr>
  <% end %>
</table>