<% if @grid %>
  <h1><%= @grid.size %> x <%= @grid.size %></h1>
<% else %>
  <h1>No grid exists for given dimensions. Click to create</h1>
  <%= link_to 'Create Grid', new_grid_path %>
<% end %>


<div class="grid-container">
  <% 0.upto (@grid.size * @grid.size)-1 do |i| %>

      <% if i % @grid.size == 0 && i > 0 %>
        <br>
      <% end %>
      <div class="cell" data-square-index="<%= i %>"></div>

  <% end %>
</div>

