<h1>Welcome to my sample app!</h1>

<h3>Click below to create a new grid or type in the size of your grid to begin tapping!</h3>
<%= link_to 'grids', controller: 'grids' %>
<p> OR </p>

<p>"/grids/create/4" to create a 4 x 4 grid</p>