/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


table {
	border-collapse: collapse;
	border-spacing: 0;
}

tr {
}

td {
	padding: 2em;
	border: 2px solid black;
}